<!-- 
231193                  233355          233486
Sophia Jane Calado      Tanner Khoo     Luiis Lau   

May 17,2025
----
I hereby attest to the truth of the following facts:

I have not discussed the python code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any python code or documentation used in my program was
obtained from another source, it has been clearly noted with citations in the
comments of my program.
----
-->

{% extends 'payroll_app/base.html' %}
{% load static %}

{% block navbar %}
<div class="container-fluid d-flex align-items-center gap-4">
    <a class="navbar-brand mb-0" href="{% url 'payroll' %}"><strong> Lazapee</strong> </a>
    <a href="{% url 'payroll' %}" style="color:white">
        <i class="bi bi-person-fill"></i> Employee</a>
    <a href="{% url 'payslip' %}" style="color: white"> 
        <i class="bi bi-file-text"></i>Payslips</a>
    <a href="{% url 'manage_account' user.pk %}" class="text-white text-decoration-underline ms-auto">
        <i class="bi bi-box-arrow-right"> Manage Account</i></a>
    <a href="{% url 'logout' %}" class="text-white text-decoration-underline ms-auto">
        <i class="bi bi-box-arrow-right"> Log Out</i></a>
</div>
{% endblock %}

{% block content %}


<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; overflow-x: hidden;">
    <div class="card shadow w-100 mx-3" style="max-width: 400px;">

        <div class="card-header text-white"  style="background-color: #59257d;">
            <h4>Create Employee</h4>
        </div>

        <div class="card-body">
            <form method="POST" action="{% url 'update_employee' employee.pk %}">{% csrf_token %}
                <div class="form-group mb-2">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value='{{ employee.name }}' required>
                </div>

                <div class="form-group mb-2">
                        <label class="form-label">ID Number</label>
                        <input type="number" class="form-control" id="id_number" name="id_number" value='{{ employee.id_number }}' required>
                </div>

                <div class="form-group mb-2">
                    <label class="form-label">Rate</label>
                    <input type="number" class="form-control" id="rate" name="rate" value='{{ employee.rate }}' required>
                </div>

                <div class="form-group mb-2">  
                    <label class="form-label">Allowance (Optional)</label>
                    <input type="number" class="form-control" id="allowance" name="allowance" value='{{ employee.allowance }}'>
                </div>
                    
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-success">Update Employee</button>
                </div>

            </form>
        </div>
    </div>
</div>




{% endblock %}




