<!-- 
231193                  233355          
Sophia Jane Calado      Tanner Khoo     Luiis Lau   

May 17,2025
----
I hereby attest to the truth of the following facts:

I have not discussed the python code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any python code or documentation used in my program was
obtained from another source, it has been clearly noted with citations in the
comments of my program.
----
-->

{% extends 'payroll_app/base.html' %}
{% load static %}

{% block navbar %}
<div class="container-fluid d-flex align-items-center gap-4">
    <a class="navbar-brand mb-0" href="{% url 'payroll' %}"><strong> Lazapee</strong> </a>
    <a href="{% url 'payroll' %}" style="color:white">
        <i class="bi bi-person-fill"></i> Employee</a>
    <a href="{% url 'payslip' %}" style="color: white"> 
        <i class="bi bi-file-text"></i>Payslips</a>
    <a href="{% url 'manage_account' %}" class="text-white text-decoration-underline ms-auto">
        <i class="bi bi-box-arrow-right"> Manage Account</i></a>
    <a href="{% url 'logout' %}" class="text-white text-decoration-underline ms-auto">
        <i class="bi bi-box-arrow-right"> Log Out</i></a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow border-0">
                <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: #370031;">
                    <span class="fw-bold fs-4">Payslip Details</span>
                </div>
            
                <div class="card-body">
                    <div class="card mb-4">
                        <div class="card-header text-white" style="background-color: #370031;"> Employee Details</div>
                        <div class="card-body">
                            <p><strong>Name:</strong> {{ payslip.id_number.name }}</p>
                            <p><strong>ID Number:</strong> {{ payslip.id_number.id_number }}</p>
                            <p><strong>Date:</strong> {{ payslip.date_range }}</p>
                            <p><strong>Payslip ID:</strong> {{ payslip.id }}</p>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header text-white" style="background-color: #370031;">Earnings</div>
                        <div class="card-body">
                            <p><strong>Base Pay:</strong> {{ payslip.getCycleRate|floatformat:2 }} </p>
                            <p><strong>Allowance:</strong> {{ payslip.earnings_allowance|floatformat:2 }}</p>
                            <p><strong>Overtime:</strong> {{ payslip.overtime|floatformat:2 }}</p>
                        </div>
                    </div>
                     
                    <div class="card mb-4">
                        <div class="card-header text-white" style="background-color: #370031;">Gross Pay</div>
                        <div class="card-body">
                            <h5><strong>PHP {{ payslip.getCycleRate|add:payslip.earnings_allowance|add:payslip.getOvertime|floatformat:2 }}</strong></h5>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header text-white" style="background-color: #370031;">Deductions</div>
                        <div class="card-body">
                            {% if payslip.pay_cycle == "1" %}
                                <p><strong>Pag-ibig: </strong>{{ payslip.pag_ibig|floatformat:2 }}</p>
                                <p><strong>Withholding Tax: </strong>{{ payslip.deductions_tax|floatformat:2 }}</p>
                                <p><strong>Total Deductions: </strong>{{ payslip.pag_ibig|floatformat:2|add:payslip.deductions_tax|floatformat:2 }}</p>
                            
                            {% elif payslip.pay_cycle == "2" %}
                                <p><strong>Withholding Tax: </strong>{{ payslip.deductions_tax|floatformat:2 }}</p>
                                <p><strong>PhilHealth: </strong>{{ payslip.deductions_health|floatformat:2 }}</p> 
                                <p><strong>SSS: </strong>{{ payslip.sss }}</p>
                                <p><strong>Total Deductions: </strong>{{ payslip.deductions_tax|add:payslip.deductions_health|add:payslip.sss }}</p>
                            
                            {% endif %}
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header text-white" style="background-color: #370031;">Total Pay</div>
                        <div class="card-body">
                            <h4><strong>NET PAY: PHP {{ payslip.total_pay|floatformat:2 }}</strong></h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
